amqp==2.5.1
anyjson==0.3.3
arrow==0.15.2
Babel==2.7.0
billiard==3.6.1.0
celery==4.3.0
certifi==2019.9.11
chardet==3.0.4
Django==2.2.22
django-celery==3.3.1
django-dramatiq==0.8.0
django-phonenumber-field==3.0.1
django-timezone-field==3.1
dramatiq==1.7.0
idna==2.8
importlib-metadata==0.23
kombu==4.6.5
more-itertools==7.2.0
phonenumbers==8.10.21
pika==1.1.0
prometheus-client==0.7.1
PyJWT==1.7.1
python-dateutil==2.8.0
pytz==2019.2
redis==3.3.11
requests==2.22.0
six==1.12.0
sqlparse==0.3.0
twilio==6.32.0
urllib3==1.25.6
vine==1.3.0
zipp==0.6.0
