<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>medicine</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>

</head>
<body>

<div class="container ">
  <h2>Welcome {% block id %} {% endblock %} - Add your medicine reminder</h2>
	<table class="table" id= "create">
    <thead>
			<tr>
				<th>Medicine Name</th>

				<th>Hour </th>
				<th>Minute</th>
        <th>AM/PM</th>
        <th>Repeat for how many days?</th>
			</tr>
		</thead>
		<tbody>
			<form id="item">
				<tr>
					<td><input id="name" type="text" class="form-control" required/></td>
					<td style="width: 10%;"><input id="hour" type="number" class="form-control" min="1" max="12" required/></td>
					<td style="width: 10%;"><input id="min" type="number" class="form-control"/ min="0" max="60" required></td>
					<td>
						<select id="Time" class="form-control">
							<option value="morning">AM</option>
							<option value="noon">PM</option>

						</select>
					</td>
          <td style="width: 10%;"><input id="repeat" type="number" class="form-control"/ value="14" required></td>

					<td><button onclick="addList()" type="button" id="btn-add" class="btn btn-primary">Create</button>&nbsp;
						<button type="reset" class="btn btn-danger">Reset</button></td>
				</tr>
			</form>

      </tbody>
  </table>

	<table class="table" id= "delete">
    <thead>
			<tr>
				<th>Delete Medicine</th>
			</tr>
		</thead>
		<tbody>
			<form id="item">
				<tr>
					<td style="width:350px;"><input id="del_name"  type="text" class="form-control" required/></td>


					<td><button onclick="deleteList()" type="button" id="btn-add" class="btn btn-primary">Delete</button>&nbsp;
						<button type="reset" class="btn btn-danger">Reset</button></td>
				</tr>
			</form>

      </tbody>
  </table>


</div>

<br><br>
<div class="container">
<h2><b>Details</b></h2>
	<table class="table">
    <thead>
			<tr>
				<th>Name</th>

				<th>Hour</th>
				<th>Minute</th>
        <th>AM/PM </th>
        <th>Repeat</th>
			</tr>
		</thead>
		<tbody id="products-row">
		</tbody>
		</table>
</div>

  <script>

          var medicine = [];

          var add = function (product, hour, min, time, repeat) {
            medicine.push({
              product: product,
              hour: hour,
              min: min,
              time:time,
              repeat:repeat + " more days"
            });
          };

          var addList = function () {
            var name 	= 	document.getElementById("name").value;
            var hour	= 	parseInt(document.getElementById("hour").value);
            var min	= 	parseInt(document.getElementById("min").value);
            var select 		= 	document.getElementById("Time");
            var time 	= 	select.options[select.selectedIndex].text;
            var repeat = parseInt(document.getElementById("repeat").value);
            var listItens = document.getElementById("products-row");
            if(name == "")
            {
              alert("Please enter a valid Medicine Name!");
            }
            else if(hour == "" || min == "" || repeat == "")
            {
              alert("Please enter a valid Medicine Name!");
            }
            else if(hour < 0 || hour > 12)
            {
                  alert("Please enter a valid hour!");
            }
            else if(min < 0 || min > 59)
                alert("Please enter valid minute!");
            else{
            var fragment = document.createDocumentFragment();
              add(name, hour, min,time, repeat );
            medicine.forEach(function ( index ) {
              var tr = document.createElement("tr");
              for (var i in index) {
                var td = document.createElement("td");
                td.textContent = index[i];
                tr.appendChild(td);
              };
              fragment.appendChild(tr);
              listItens.appendChild(fragment);
            });
            medicine = [];
          }
          }


  </script>

</body>
</html>
