<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>medicine</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>

</head>
<body>

<div class="container " >
  <h2>Welcome {% block id %}User{% endblock %} - Add your medicine reminder</h2>
	<table class="table" id= "create">
    <thead>
			<tr>
				<th><h3>Add Medicine</h3>
         <br>Medicine Name</th>

				<th>Time (24-hour Format) </th>

        <th>Repeat for how many days?</th>
			</tr>
		</thead>
		<tbody>
    {% block create_form %}
    
    {% endblock create_form %}

      </tbody>
  </table>

	<table class="table" id= "delete">
    <thead>
			<tr>
				<th><h3> Delete Medicine</h3> <br>
        Medicine Name
         </th>
			</tr>
		</thead>
		<tbody>
			<form id="item">
				<tr>
					<td style="width:350px;"><input id="del_name"  type="text" class="form-control" required/></td>


					<td><button onclick="deleteList()" type="button" id="btn-add" class="btn btn-primary">Delete</button>&nbsp;
						<button type="reset" class="btn btn-danger">Reset</button></td>
				</tr>
			</form>

      </tbody>
  </table>


</div>

<br><br>
<div class="container">
<h2><b>Details</b></h2>
	<table class="table">
    <thead>
			<tr>
				<th style="width: 60%;">Name</th>

				<th>Time</th>

        <th>Repeat</th>
			</tr>
		</thead>
		<tbody id="products-row">
    {% block reminder_list %}

    {% endblock reminder_list %}
		</tbody>
		</table>
</div>

  <script>

          var medicine = [];

          var add = function (product, hour, repeat) {
            medicine.push({
              product: product,
              hour: hour,
              repeat:repeat + " more days"
            });
          };

          var addList = function () {
            var name 	= 	document.getElementById("name").value;
            var hour	= 	document.getElementById("hour").value;
            
            var repeat = parseInt(document.getElementById("repeat").value);
            var listItens = document.getElementById("products-row");
            if(name == "")
            {
              alert("Please enter a valid Medicine Name!");
              return false;
            }
            else if(hour == "")
            {
              alert("Please enter valid time!");
              return false;
            }
            else if(repeat == "" || repeat < 1 || repeat > 30)
            {
              alert("Please enter valid days to repeat!");
              return false;
            }
            else{
            var fragment = document.createDocumentFragment();
              add(name, hour, repeat );
            medicine.forEach(function ( index ) {
              var tr = document.createElement("tr");
              for (var i in index) {
                var td = document.createElement("td");
                td.textContent = index[i];
                tr.appendChild(td);
              };
              fragment.appendChild(tr);
              listItens.appendChild(fragment);
            });
            medicine = [];
          }
          }


  </script>

</body>
</html>
