{% extends "add-medicine.html" %} 


{% block id %}
    {{user_id}}
{% endblock %}




{% block create_form %}
    <form id="item" method="POST"> {% csrf_token %}
    <tr>
        <td><input id="name" name="name" type="text" class="form-control" required/></td>
        <td style="width: 10%;"><input id="hour" name="hour"  type="time" class="form-control"  required/></td>
        

        <td style="width: 10%;"><input id="repeat" name="repeat" type="number" class="form-control"/ value="14" max="30" min="0" required></td>

        <td><button onclick="addList()" type="submit" id="btn-add" class="btn btn-primary">Create</button>&nbsp;
            <button type="reset" class="btn btn-danger">Reset</button></td>
    </tr>
</form>

{% endblock create_form %}
